*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    gap: 30px;
    /* background-color: aqua; */
    padding-bottom: 20px;
}

.lien{
padding-top: 25px;
}

a{
    /* padding: 34px; */
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.0em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo{
width: 50px;
height: 50px;
padding-left: 50px;
padding-top: 13px;
}

/* section Introduction */

.section1{
    padding: 30px;
    text-align: center;
    background-color: #e75c1B;
}

.btn{
    background-color: black;
    padding: 6px 15px 6px 15px;
    color: #fff;
    border: none;
}

/* section deux */

.titre{
padding: 10px 0px 12px 54px;
font-size:1.2em;
}
.block{
 padding: 30px 0px 12px 184px;
 
}

.text{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 180px;
}

.nool{
    border-left: 3px  orangered solid;
    height: 94px;
}
.nool h3, p{
    margin-left: 10px;
}

.map{
    /* padding-right: 34px; */
    width: 680px;
    height: 470px;
}

.nool1{
    border-left: 3px  #fff;
    height: 94px;
}
.nool1 h3, p{
    margin-left: 10px;
}

.ligne{
    text-decoration: underline 3px orangered;
    
}

/* pied de page*/

.pied_de_page{
    background-color: black;
    padding: 50px;
    padding-left: 1200px;
}
.image_reseau1{
    /* width: 300px;
    width: 650px; */
    padding-right: 12px;
}
.image_reseau3{
    padding-left: 12px;
}

button:active{
    background-color: #fff;
    color: #d2483d;
}

a:hover{
    color: #d2483d;
    text-decoration: underline 3px black;
}

button:hover{
    color: #d2483d;
}